<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Hobbies</title>

  <link rel="stylesheet" href="../resources/css/style.css" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="home.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="hobbies.html">Hobbies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="projects.html">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="resume.html">Resume</a>
          </li>
        </ul>

        <div class="d-flex align-items-center">
          <a href="#" aria-label="Favorite">
          <i class="fa-solid fa-star fs-4"></i>
          </a>
        </div>
      </div>
    </div>
  </nav>
  <main class="container py-5">
    <h1 class="mb-4">Interests</h1>
    <div class="row g-4">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card h-100">
          <img src="../resources/img/img1.jpg" class="card-img-top" alt="Films" />
          <div class="card-body text-center">
            <h5 class="card-title">Films</h5>
            <p class="card-text">
              I adore films and I'm trying to visit the cinema to watch more films this year. I'm currently in a film
              club and I even try to watch films regularly on my own time. My favorites include Laputa: Castle in the
              Sky, One Battle After Another, Lars and the Real Girl, Blade Runner 2049, Annie Hall and Harry Potter and
              the Prisoner of Azkaban.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card h-100">
          <img src="../resources/img/img2.jpg" class="card-img-top" alt="Anime" />
          <div class="card-body text-center">
            <h5 class="card-title">Anime</h5>
            <p class="card-text">
              I'm a huge anime fan and I am part of the admin team on the CU anime club. Anime's just always been a huge
              part of my life. Dragon Ball, One Piece, Monster, Mob Psycho 100, Soul Eater, Berserk, I just love anime.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card h-100">
          <img src="../resources/img/img3.jpg" class="card-img-top" alt="Music" />
          <div class="card-body text-center">
            <h5 class="card-title">Music</h5>
            <p class="card-text">
              I love music and I listen to it all the time. I've been a huge Beatles fan for the bulk of the past
              decade, but I just love rock in general, hip-hop too. Some of my other favorite artists include Pink
              Floyd, Led Zeppelin, Michael Jackson, The Rolling Stones, Bob Dylan, Eminem, Kendick Lamar, 2Pac, I don't
              know where I'd be without music.
            </p>
          </div>
        </div>
      </div>
  </main>
  <footer class="bg-body-tertiary border-top">
    <div class="container py-4 d-flex justify-content-end align-items-center">
      <div class="d-flex gap-3">
        <a class="text-decoration-none" href="https://github.com/JoyfulTom" target="_blank" rel="noopener"
          aria-label="GitHub">
          <i class="fa-brands fa-github fs-4"></i>
        </a>
        <a class="text-decoration-none" href="https://www.linkedin.com/in/thabo-kelebeng-7b15972a4/" target="_blank"
          rel="noopener" aria-label="LinkedIn">
          <i class="fa-brands fa-linkedin fs-4"></i>
        </a>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>