<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Your Name</title>

  <link rel="stylesheet" href="../resources/css/style.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="home.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="hobbies.html">Hobbies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="projects.html">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="resume.html">Resume</a>
          </li>
        </ul>
        <div class="d-flex align-items-center">
          <a href="#" aria-label="Favorite">
            <i class="fa-solid fa-star fs-4"></i>
          </a>
        </div>
      </div>
    </div>
  </nav>
  </div>
  <main class="container py-5">
    <div class="accordion" id="projectsAccordion">
      <h1 class="mb-4">Projects</h1>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            Project 1: Attack Lab
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#projectsAccordion">
          <div class="accordion-body">
            <div class="row g-3 align-items-center">
              <div class="col-12 col-md-4">
                <img class="img-fluid rounded" src="../resources/img/img6.png" alt="Corgi Reads">
              </div>
              <div class="col-12 col-md-8">
                <p class="mb-1">
                  A redo of one of my CSCI 2400 assignment for testing and exploiting vulnerabilities in code.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Project 2: Malloc Lab
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#projectsAccordion">
          <div class="accordion-body">
            <div class="row g-3 align-items-center">
              <div class="col-12 col-md-4">
                <img class="img-fluid rounded" src="../resources/img/img5.png" alt="Malloc Lab">
              </div>
              <div class="col-12 col-md-8">
                <p class="mb-1">
                  A redo of one of my CSCI 2400 assignments for replacing the standard C library functions malloc, free,
                  realloc, and calloc by implementing a malloc.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Project 3: Lion King Based Game
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#projectsAccordion">
          <div class="accordion-body">
            <div class="row g-3 align-items-center">
              <div class="col-12 col-md-4">
                <img class="img-fluid rounded" src="../resources/img/img4.jpeg" alt="Dungeon Crawler">
              </div>
              <div class="col-12 col-md-8">
                <p class="mb-1">
                  Redo of the final project in CSCI 1300 for creating a Lion King based board game.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </main>

  <footer class="bg-body-tertiary border-top">
    <div class="container py-4 d-flex justify-content-end align-items-center">
      <div class="d-flex gap-3">
        <a class="text-decoration-none" href="https://github.com/JoyfulTom" target="_blank" rel="noopener"
          aria-label="GitHub">
          <i class="fa-brands fa-github fs-4"></i>
        </a>
        <a class="text-decoration-none" href="https://www.linkedin.com/in/thabo-kelebeng-7b15972a4/" target="_blank"
          rel="noopener" aria-label="LinkedIn">
          <i class="fa-brands fa-linkedin fs-4"></i>
        </a>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>